[submodule "mule-tooling-raml"]
	path = mule-tooling-raml
	url = https://github.com/mulesoft/mule-tooling-raml
[submodule "mule-tooling-soapkit"]
	path = studio6/mule-tooling-soapkit
	url = https://github.com/mulesoft/mule-tooling-soapkit
[submodule "mule-tooling-odata"]
	path = studio6/mule-tooling-odata
	url = https://github.com/mulesoft/mule-tooling-odata
[submodule "tooling-runtimes"]
	path = studio6/tooling-runtimes
	url = https://github.com/mulesoft/tooling-runtimes
[submodule "studio-orbit"]
	path = studio-orbit
	url = https://github.com/mulesoft/studio-orbit
[submodule "yaml-policies-parser"]
	path = yaml-policies-parser
	url = https://github.com/mulesoft-labs/yaml-policies-parser
[submodule "anypoint-telemetry"]
	path = anypoint-telemetry
	url = https://github.com/mulesoft/anypoint-telemetry
[submodule "tooling-extras"]
	path = tooling-extras
	url = https://github.com/mulesoft/tooling-extras
[submodule "studoc-commons"]
	path = studoc-commons
	url = https://github.com/mulesoft/studoc-commons
[submodule "studio-images"]
	path = studio7/studio-images
	url = https://github.com/mulesoft/studio-images
[submodule "gateway-tooling-runtimes"]
	path = studio6/gateway-tooling-runtimes
	url = https://github.com/mulesoft/gateway-tooling-runtimes
[submodule "mule-tooling-devkit"]
	path = mule-tooling-devkit
	url = https://github.com/mulesoft/mule-tooling-devkit
[submodule "mule-tooling-incubator"]
	path = studio6/mule-tooling-incubator
	url = https://github.com/mulesoft/mule-tooling-incubator
[submodule "studio7/studio-images"]
	path = studio7/studio-images
	url = https://github.com/mulesoft/studio-images
[submodule "studio-maven-plugin"]
	path = studio6/studio-maven-plugin
	url = https://github.com/mulesoft/studio-maven-plugin
[submodule "mule-common"]
	path = studio6/mule-common
	url = https://github.com/mulesoft/mule-common
[submodule "exchange-graphql-client"]
	path = studio7/exchange-graphql-client
	url = https://github.com/mulesoft-labs/exchange-graphql-client
[submodule "api-platform-cli"]
	path = api-platform-cli
	url = https://github.com/mulesoft-labs/api-platform-cli
[submodule "api-platform-j-client"]
	path = api-platform-j-client
	url = https://github.com/mulesoft-labs/api-platform-j-client
[submodule "multinstall-maven-plugin"]
	path = studio6/multinstall-maven-plugin
	url = https://github.com/mulesoft/multinstall-maven-plugin
[submodule "studio6/-b"]
	path = studio6/-b
	url = https://github.com/mulesoft/mule-tooling-munit
[submodule "studio6/mule-tooling-munit"]
	path = studio6/mule-tooling-munit
	url = https://github.com/mulesoft/mule-tooling-munit
	branch = 1.x
[submodule "studio7/mule-tooling-munit"]
	path = studio7/mule-tooling-munit
	url = https://github.com/mulesoft/mule-tooling-munit
	branch = 2.x
[submodule "studio7/mule-tooling-soapkit"]
	path = studio7/mule-tooling-soapkit
	url = https://github.com/mulesoft/mule-tooling-soapkit
[submodule "studio6/studio-q7-sanity"]
	path = studio6/studio-q7-sanity
	url = https://github.com/mulesoft/studio-q7-sanity
	branch = develop-6.x
[submodule "studio7/studio-q7-sanity"]
	path = studio7/studio-q7-sanity
	url = https://github.com/mulesoft/studio-q7-sanity
	branch = develop
[submodule "studio6/mule-remote-debugger"]
	path = studio6/mule-remote-debugger
	url = https://github.com/mulesoft/mule-remote-debugger
	branch = 3.9.x
[submodule "studio7/mule-remote-debugger"]
	path = studio7/mule-remote-debugger
	url = https://github.com/mulesoft/mule-remote-debugger
	branch = develop
[submodule "studio7/mule-tooling-mock-connector"]
	path = studio7/mule-tooling-mock-connector
	url = https://github.com/mulesoft/mule-tooling-mock-connector
	branch = mule-4.x
[submodule "studio6/mule-tooling-mock-connector"]
	path = studio6/mule-tooling-mock-connector
	url = https://github.com/mulesoft/mule-tooling-mock-connector
	branch = master
[submodule "studio7/tooling-runtimes"]
	path = studio7/tooling-runtimes
	url = https://github.com/mulesoft/tooling-runtimes
	branch = 4.x
[submodule "s3-ant-task"]
	path = s3-ant-task
	url = https://github.com/machaval/s3-ant-task.git
[submodule "studio7/mule-tooling"]
	path = studio7/mule-tooling
	url = https://github.com/mulesoft/mule-tooling
	branch = develop
[submodule "studio6/mule-tooling"]
	path = studio6/mule-tooling
	url = https://github.com/mulesoft/mule-tooling
	branch = develop-6.x
