[submodule "mule-tooling-raml"]
	path = mule-tooling-raml
	url = https://github.com/mulesoft/mule-tooling-raml
[submodule "mule-tooling-apikit"]
	path = mule-tooling-apikit
	url = https://github.com/mulesoft/mule-tooling-apikit
[submodule "mule-tooling-soapkit"]
	path = mule-tooling-soapkit
	url = https://github.com/mulesoft/mule-tooling-soapkit
[submodule "mule-tooling-odata"]
	path = mule-tooling-odata
	url = https://github.com/mulesoft/mule-tooling-odata
[submodule "tooling-runtimes"]
	path = tooling-runtimes
	url = https://github.com/mulesoft/tooling-runtimes
[submodule "studio-orbit"]
	path = studio-orbit
	url = https://github.com/mulesoft/studio-orbit
[submodule "yaml-policies-parser"]
	path = yaml-policies-parser
	url = https://github.com/mulesoft-labs/yaml-policies-parser
[submodule "anypoint-telemetry"]
	path = studio7/anypoint-telemetry
	url = https://github.com/mulesoft/anypoint-telemetry
[submodule "tooling-extras"]
	path = tooling-extras
	url = https://github.com/mulesoft/tooling-extras
[submodule "studoc-commons"]
	path = studoc-commons
	url = https://github.com/mulesoft/studoc-commons
[submodule "studio-images"]
	path = studio7/studio-images
	url = https://github.com/mulesoft/studio-images
[submodule "mule-tooling-mock-connector"]
	path = mule-tooling-mock-connector
	url = https://github.com/mulesoft/mule-tooling-mock-connector
[submodule "gateway-tooling-runtimes"]
	path = studio6/gateway-tooling-runtimes
	url = https://github.com/mulesoft/gateway-tooling-runtimes
[submodule "mule-remote-debugger"]
	path = mule-remote-debugger
	url = https://github.com/mulesoft/mule-remote-debugger
[submodule "mule-tooling"]
	path = mule-tooling
	url = https://github.com/mulesoft/mule-tooling
[submodule "mule-tooling-devkit"]
	path = mule-tooling-devkit
	url = https://github.com/mulesoft/mule-tooling-devkit
[submodule "studio-q7-sanity"]
	path = studio-q7-sanity
	url = https://github.com/mulesoft/studio-q7-sanity
[submodule "mule-tooling-incubator"]
	path = studio6/mule-tooling-incubator
	url = https://github.com/mulesoft/mule-tooling-incubator
[submodule "studio7/studio-images"]
	path = studio7/studio-images
	url = https://github.com/mulesoft/studio-images
[submodule "studio-maven-plugin"]
	path = studio-maven-plugin
	url = https://github.com/mulesoft/studio-maven-plugin
[submodule "mule-tooling-munit"]
	path = mule-tooling-munit
	url = https://github.com/mulesoft/mule-tooling-munit
[submodule "mule-common"]
	path = studio6/mule-common
	url = https://github.com/mulesoft/mule-common
[submodule "exchange-graphql-client"]
	path = studio7/exchange-graphql-client
	url = https://github.com/mulesoft-labs/exchange-graphql-client
[submodule "api-platform-cli"]
	path = studio7/api-platform-cli
	url = https://github.com/mulesoft-labs/api-platform-cli
[submodule "api-platform-j-client"]
	path = studio7/api-platform-j-client
	url = https://github.com/mulesoft-labs/api-platform-j-client
[submodule "multinstall-maven-plugin"]
	path = multinstall-maven-plugin
	url = https://github.com/mulesoft/multinstall-maven-plugin
